<?xml version="1.0"?>
<robot name="h_bot">
    <link name="base_link">
        <visual>
            <geometry>
                <cylinder length="0.6" radius="0.2"/>
                <!-- <mesh filename="package://robot_consepts_viz_pkg/meshes/base.dae"/> -->
            </geometry>
        </visual>
    </link>
</robot>